<div class="row">
        <header class="d-flex justify-content-between bg-secondary p-3">
            <span>{{post.title}}</span>
            <span>Created by: {{post.username}} on {{post.post_date}}</span>
        </header>
        <main id="post" class="bg-dark p-3 text-white" data-postid="{{post.id}}">
            <p>{{post.body}}</p>
            <br>
            <h4>Comments</h4>
            {{#each post.comments}}
            <p>{{text}} by {{user.username}}</p>
            <p>{{post_date}}</p>
            {{/each}}

            {{#if loggedIn}}
            <div class="card col-6 d-flex">

                <div class="card-body">
                    <form id="comment-form">
                        <div class="mb-3">
                            <label for="comment" class="form-label">Write a Comment!</label>
                            <input type="input" class="form-control" id="comment">
                        </div>
                        <button type="submit" class="btn btn-primary">Add comment</button>
                    </form>
                </div>

            </div>

            {{else}}

            <a href="/login">Log in to add comment!</a>

            {{/if}}

        </main>
</div>

<script>
    const commentForm = document.getElementById('comment-form')
    const commentIn = document.getElementById('comment')
    const post = document.getElementById('post')

    commentForm.addEventListener('submit', async function(event){
        event.preventDefault()
        const postId = post.getAttribute('data-postid')
        const bodyObj = {
            text: commentIn.value,
            post_id: postId
        }
    })
</script>