<div class="row">
        <header class="d-flex justify-content-between bg-secondary p-3">
            <span>{{post.title}}</span>
            <span>Created by: {{post.user}} on {{post.post_date}}</span>
        </header>
        <main class="bg-dark p-3">
            <p>{{body}}</p>
            <br>
            <h4>Comments</h4>
            {{#each comments}}
            <p>{{text}} by {{user}}</p>
            <p>{{post_date}}</p>
            {{/each}}

            {{#if loggedIn}}
            <div class="card col-6 d-flex">

                <div class="card-body">
                    <form id="comment-form">
                        <div class="mb-3">
                            <label for="password" class="form-label">Write a Comment!</label>
                            <input type="input" class="form-control" id="comment">
                        </div>
                        <button type="submit" class="btn btn-primary">Add comment</button>
                    </form>
                </div>

            </div>

            {{else}}

            <a href="/login">Log in to add comment!</a>

            {{/if}}

        </main>
</div>